$fondo: #dcdcf7;
$caja: #ffffff;

* {
    border: 0;
    margin: 0;
}

body{
    background-color: $fondo;
}

.contenedor{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    align-items: center;
    .caja{
        height: 200px;
        width: 325px;
        display: flex;
        background-color: $caja;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 10px 25px #757575;
    }
}

#caja1{}
#caja2{}
#caja3{}
#caja4{}
#caja5{}
#caja6{}
#caja7{}
#caja8{}
#caja9{}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}

.boton{
    align-items: center;
}

#boton {
    height: 50px;
    width: 125px;
    border-radius: 7%;
    box-shadow: 3px 3px 3px #4b4b4b;
}